.text-input {
  padding: 11px 20px;
  width: 100%;
  border: 2px solid #bfbfbf;
}
.text-input:focus {
  outline: none;
}
.text-input.valid {
  background-color: transparent;
}
.text-input.invalid {
  background-color: red;
}
